 .u-section-1 {
  background-image: url("images/CaptureHEADER.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 745px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 6px;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 277px 405px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 100;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 43px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 202px;
    margin-right: auto;
    margin-left: 314px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 164px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 57px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 8.59% 56.72%;
    background-size: 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 136px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 20.89% 57.06%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 133px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 630px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 75px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 502px;
  min-height: 246px;
  height: auto;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -630px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-list-1 {
  width: 502px;
  margin: 10px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 374px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 519px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -519px;
    height: auto;
  }

  .u-section-2 .u-list-item-1 {
    background-position: 0% 50%;
  }

  .u-section-2 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 398px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -398px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 449px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 19px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 19px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-2 .u-image-1 {
    width: 339px;
    height: 384px;
    margin-top: 35px;
    margin-right: -50px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -344px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 729px;
}

.u-section-3 .u-text-1 {
  margin: 97px 360px 0 auto;
}

.u-section-3 .u-list-1 {
  width: 1060px;
  margin: 112px auto 50px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 418px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-icon-1 {
  height: 92px;
  width: 92px;
  background-image: none;
  margin: 0 auto 0 30px;
  padding: 21px;
}

.u-section-3 .u-group-1 {
  width: 403px;
  min-height: 144px;
  height: auto;
  margin: -92px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-icon-2 {
  height: 92px;
  width: 92px;
  background-image: none;
  margin: 0 auto 0 30px;
  padding: 21px;
}

.u-section-3 .u-group-2 {
  width: 403px;
  min-height: 144px;
  height: auto;
  background-size: auto;
  margin: -92px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-icon-3 {
  height: 92px;
  width: 92px;
  background-image: none;
  margin: 0 auto 0 30px;
  padding: 21px;
}

.u-section-3 .u-group-3 {
  width: 403px;
  min-height: 144px;
  height: auto;
  background-size: auto;
  margin: -92px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-3 .u-icon-4 {
  height: 92px;
  width: 92px;
  background-image: none;
  margin: 0 auto 0 30px;
  padding: 21px;
}

.u-section-3 .u-group-4 {
  width: 403px;
  min-height: 144px;
  height: auto;
  background-size: auto;
  margin: -92px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-3 .u-group-1 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-3 .u-group-3 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-3 .u-group-4 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 93px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 93px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 582px;
  }

  .u-section-3 .u-group-1 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-3 .u-group-2 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-3 .u-group-3 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-3 .u-group-4 {
    width: 224px;
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 94px;
    margin-left: 85px;
  }

  .u-section-3 .u-list-1 {
    width: 556px;
    margin: 102px auto 60px -27px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 654px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-group-1 {
    width: 160px;
    min-height: 261px;
    margin-top: -80px;
    margin-right: -29px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 18px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-group-2 {
    width: 160px;
    min-height: 261px;
    margin-top: -80px;
    margin-right: -29px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 18px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-group-3 {
    width: 160px;
    min-height: 261px;
    margin-top: -80px;
    margin-right: -29px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 18px;
    padding-bottom: 16px;
  }

  .u-section-3 .u-group-4 {
    width: 160px;
    min-height: 261px;
    margin-top: -80px;
    margin-right: -29px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 82px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: 34px;
    margin-bottom: 40px;
    margin-left: -14px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1104px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-group-1 {
    width: 235px;
    min-height: 209px;
    margin-top: -77px;
    margin-right: -39px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-group-2 {
    width: 235px;
    min-height: 209px;
    margin-top: -77px;
    margin-right: -39px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-group-3 {
    width: 235px;
    min-height: 209px;
    margin-top: -77px;
    margin-right: -39px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-group-4 {
    width: 235px;
    min-height: 209px;
    margin-top: -77px;
    margin-right: -39px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 29px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 890px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 45px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 81px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 363px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/pexels-karolina-grabowska-4206122.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 363px;
  background-image: url("images/Should-I-Ask-for-Tree-Trimming-or-Tree-Shaping.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 363px;
  background-image: url("images/pexels-pascal-kffer-113641221.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 363px;
  background-image: url("images/pexels-connor-mcmanus-14823389.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 10px 30px 11px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 363px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-4 .u-image-2 {
    min-height: 299px;
  }

  .u-section-4 .u-image-3 {
    min-height: 299px;
  }

  .u-section-4 .u-image-4 {
    min-height: 299px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 229px;
  }

  .u-section-4 .u-image-3 {
    min-height: 229px;
  }

  .u-section-4 .u-image-4 {
    min-height: 229px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2587px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 55px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 699px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 687px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1921px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 40px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 440px;
  }

  .u-section-4 .u-image-2 {
    min-height: 217px;
  }

  .u-section-4 .u-image-3 {
    min-height: 217px;
  }

  .u-section-4 .u-image-4 {
    min-height: 433px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 137px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 76px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 829px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-image-1 {
  height: 510px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 38px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 40px 0 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-right: 40px;
  margin-bottom: 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 454px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-5 .u-text-5 {
  line-height: 1.4;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 375px;
}

.u-section-5 .u-container-layout-3 {
  padding: 16px 0;
}

.u-section-5 .u-text-6 {
  margin: 6px 60px 0 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 0.875rem;
  background-image: none;
  margin: 32px auto 0 0;
  padding: 20px 60px 20px 59px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 101px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-5 .u-image-1 {
    height: 397px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 73px;
    margin-bottom: 13px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 340px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.375rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 589px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 790px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 377px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 555px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 275px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 30px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 275px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
}

.u-section-6 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 118px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-6 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 0 60px;
}

.u-section-6 .u-text-6 {
  margin: 11px 0 0 60px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-6 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 0 60px;
}

.u-section-6 .u-text-8 {
  margin: 11px 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-6 .u-btn-1 {
    padding: 13px 42px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 97px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-btn-1 {
    padding: 10px 20px 11px 18px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 64px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 129px;
  }
}